Package: com.localhost.iOS-IMEI
Name: iOS_IMEI
Version: 0.1-1
Description: 
Section: System
Depends: firmware (>= 5.0)
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: xiehang
dev: 
Homepage: 
Depiction: 
Maintainer: 
Icon: 

